<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Day2day">

        <activity
            android:name=".presentation.recommend.flow.CourseDetailPageActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.recommend.flow.CourseMapPageActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.recommend.flow.FilteringActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.recommend.flow.MapPageActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.recommend.flow.MapSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.start.StartActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Day2day.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Day2day.Main" />

    </application>

</manifest>
